* {
    margin: 0;
    padding: 0;
    background-color: #343434;
    color:white;
    box-sizing: border-box;
}
body {
    background-color: black;
}
.wrapper{

}
.sidegap {
    border:2px solid blue;
    width: 12%;
    height: 100vh;
}
.gap-right{
    float:right;
}
.gap-left{
    float:left;
}
.center {
    width:76%;
    margin-left:auto;
    margin-right:auto;
}
.header-bar {
    background: black;
    display: flex;
    align-items: center;
    padding: 0 14px;
    height: 46px;
    overflow:hidden;
    border-bottom: 2px solid #23272d;
}
.header-bar * {
    background-color: black;
}
.logo {
    font-weight: bold;
    font-size: 2.5rem;
    letter-spacing: -2px;
    margin-right: 16px;
    user-select: none;
}
.logo span {
    color: #009fe3;
}
.logo b {
    color: #ef1c52;
}
.logo * {
}
.search-box {
    flex: 1;
    display: flex;
    align-items: baseline;
    padding-top: 2px;
}
.search-box * {
}
.search-input-container {
    width: 100%;
    position: relative;
    height: 32px;
    display: flex;
    align-items: center;
}
.search-input-container input {
    width: 100%;
    height: 27px;
    padding: 7px 38px 7px 14px;
    border-radius: 16px;
    border: 1.5px solid #009fe3;
    background: #23272d;
    color: #fff;
    font-size: 1rem;
    outline: none;
}
.search-icon {
    position: absolute;
    right: 13px;
    top: 8px;
    color: #009fe3;
    font-size: 18px;
    cursor: pointer;
    background-color: transparent;
}
.header-actions {
    display: flex;
    align-items: flex-end;
    gap: 23px;
    margin-left: 22px;
    margin-top: 2px;
}
.header-actions div,
.header-actions span {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #fff;
    opacity: 0.89;
    position: relative;
    font-weight: 500;
}
.actions-element p {
    padding-left:5px;
    align-items: flex-end;
}
.header-actions .icon {
    margin-right: 7px;
}
