* {
    margin: 0;
    padding: 0;
    background-color: #343434;
    color:white;
    box-sizing: border-box;
}
body {
    background-color: black;
}
.wrapper{
    width:100%;
}
/*.sidegap {*/
/*    border:2px solid blue;*/
/*    width: 12%;*/
/*    height: 100vh;*/
/*}*/
/*.gap-right{*/
/*    float:right;*/
/*}*/
/*.gap-left{*/
/*    float:left;*/
/*}*/
.center { width:100%;}
.center > div {
    width:100%;
    margin-left:auto;
    margin-right:auto;
}


.header-bar-container {
    width:100%;
    background-color: black;
    border-bottom: 2px solid #23272d;
}
.header-bar {
    width:76%;
    margin-left:auto;
    margin-right:auto;
    background: transparent;
    display: flex;
    align-items: center;
    height: 46px;
    overflow:hidden;

}
.header-bar * {
    background-color: black;
}
.logo {
    font-weight: bold;
    font-size: 2.5rem;
    letter-spacing: -2px;
    margin-right: 16px;
    user-select: none;
}
.logo span {
    color: #009fe3;
}
.logo b {
    color: #ef1c52;
}
.search-box {
    flex: 1;
    display: flex;
    align-items: baseline;
    padding-top: 2px;
}
.search-input-container{
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}
.search-input-container input {
    width: 100%;
    height: 34px;
    padding: 0 38px 0 14px;
    border-radius: 16px;
    border: 1.5px solid #009fe3;
    background: #23272d;
    color: #fff;
    font-size: 1rem;
    outline: none;
}
.search-icon {
    position: absolute;
    right: 13px;
    top: 3px;
    color: #009fe3;
    font-size: 18px;
    cursor: pointer;
    background-color: transparent;
}
.search-icon p {
    background-color: transparent;
    padding: 4px 0;
}
.header-actions {
    display: flex;
    align-items: flex-end;
    gap: 23px;
    margin-left: 22px;
    margin-top: 2px;
}
.header-actions div,
.header-actions span {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #fff;
    opacity: 0.92;
    position: relative;
}
.actions-element p {
    align-items: flex-end;
    padding-left:5px;
}


.navbar-container {
    background: linear-gradient(to right, #fd232f , #5102ff 65%, #007cdf);
}
.navbar {
    width:76%;
    margin-left:auto;
    margin-right:auto;
    background: transparent;
    height: 38px;
    display: flex;
    align-items: center;
    padding: 0 6px;
    position: relative;
}
.navbar * {
    background-color: transparent;
}
.navbar .menu-icon {
    font-size: 1.3em;
    margin-right: 11px;
    cursor: pointer;
    color: #fff;
}
.navbar ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 26px;
}
.navbar ul li {
    color: #dadada;
    margin-right: 18px;
    position: relative;
    cursor: pointer;
    padding: 2px 10px;
    border: 1px solid transparent;
    border-radius: 12px;
    overflow: hidden;
}
.navbar ul li:hover {
    border: 1px solid white;
}
.navbar ul li a {
    text-decoration: none;
}
.navbar .navbar-right {
    margin-left: auto;
    display: flex;
    align-items: center;
    width: 100px;
}
.navbar .navbar-help {
    display: flex;
    align-items: center;
    color: #dadada;
    cursor: pointer;
}
.navbar-help a {
    text-wrap: nowrap;
    text-decoration: none;
}
.navbar-help svg {
    padding-right: 6px;
}